@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono";
    margin: 0o;
}

/* shared styles */
.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    opacity: 0.7;
}

h5 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.btn-primary {
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    background: #0D1321;
    color: #fff;
    border: none;
}

.btn-learn-more {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1321;
    opacity: 0.7;
}

/* header styles */
header {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    margin: 0 auto
}

/* hero section styles */
.hero-section {
    width: 1000px;
    padding: 0 220px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
}

.hero-subtitle {
    text-align: center;
}

.section-title {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.web-development-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-development-container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    gap: 32px;
}

.title-box {
    padding: 0 48px;
    width: 850px;
    text-align: center;
}

.horizontal-container {
    background-color: #fff;
    border-radius: 16px;
    width: 850px;
    height: 219px;
    padding: 48px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box {
    width: 477px;
}

.horizontal-container p {
    margin-bottom: 32px;
}

.my-inspiration-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-inspiration-container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 97px;
    gap: 32px;
}

.video-container {
    width: 1100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 24px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

iframe {
    width: 1076px;
    border-radius: 48px;
    padding: 30px;
}

.my-target-section {
    margin: 150px auto;
    width: 1170px;
    align-items: center;
    padding: 80px 97px;
    
}

.target-subtitle {
    text-align: center;
    margin-bottom: 48px;
}

.my-target-container {
    width: 1170px;
    align-items: center;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    gap: 32px;
}

.skill-cards {
    display: flex;
    gap: 24px;
}

.card {
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card-2 {
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.card-3 {
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}


.skill-title-box {
    padding: 0 48px;
    width: 850px;
    text-align: center;
}

.support-section {
    display: flex;
    width: 1140px;
    padding: 64px 48px;
    margin: 0 auto;
    margin-bottom: 80px;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/assets/handshake.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
}

.support-section-title {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
}

.support-section-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.7;
}

.form-container form {
    display: flex;
    align-items: center;
    gap: 16px;
}

.input-field {
    display: flex;
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit {
    width: 120px;
    padding: 20px 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

footer {
    width: 1440px;
    padding: 32px 0;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-container {
 display: flex;
 align-items: center;
 justify-content:space-between;
 padding: 0 100px;
}

.icon-container {
    display: flex;
    gap: 24px;
}

.commitment {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}